data/*
pretrain/data/*
pretrain/checkpoints/*
*__pycache__*
nohup.out
models/*
agents/*
*.csv
*.onnx
*.pth
*.pkl
checkpoints/*
*.npy
logs/*
logs
LeNet5/
resnet18/
resnet18*/
resnet18_build/
MobileNet/
MobileNet_build/
*.ipynb